@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://images.unsplash.com/photo-1647892591711-f310c2a3ab7c?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: contain;
    backdrop-filter: blur(2px);
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#pokemon-display-grid {
    display: grid;
    grid-template-columns:  repeat(4, 300px);
    gap: 50px;
    margin: 30px 20px;
    justify-content: center;
}

.pokemon-card {
    transition: all 0.2s ease;
    padding: 15px;
    background-color: #ffffffe8 !important;

    border: 4px solid #030207;
    /* box-shadow: 3px 3px #ffef5c,
                7px 7px #e41919; */
    border-image: linear-gradient(0deg, #ffef5c, #e41919);
    border-image-slice: 1;
    animation: gradient 8s infinite linear;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 4em;
    color: #ffffff;
}

.poke-text {
    /* transition: color 0.2s ease; */
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 2em;
    color: #030207;
}

.poke-img {
    width: 250px;
}

#header {
    height: auto;
    width: 100vw;
    background-color: #030207;
    padding: 10px 30px;

    display: flex;
}

#pikachu-sprite {
    width: 80px;
    margin-left: 15px;
}

#search-container, #type-container {
    height: auto;
    padding: 15px 0;
    width: 100%;
    background-color: #ffffffe8;
    color: #2456a5;
    padding: 10px 30px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.4em;
    
    display: flex;
    justify-content: center;
}

#search-container label, #type-container label {
    margin-right: 10px;
    color: #e41919;
    font-weight: 600;
}

#search-container input, #type-container select {
    transition: border 0.2s ease;
    border: 3px solid #030207;
    font-family: "Inter", sans-serif;
    border-radius: 7px;
}

/* single pokemon page */
.single-pokemon-card {
    background-color: #ffffffe8 !important;
    padding: 20px;
    height: 100vh;
    width: 100vw;
}

.single-pokemon-card img {
    border: 3px solid #030207;
    border-image: linear-gradient(0deg, #ffef5c, #e41919);
    border-image-slice: 1;
    background-image: url("https://images.unsplash.com/photo-1668119064317-af122b3a0810?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
}

/* hover effects */
.pokemon-card:hover {
    transition: all 0.2s ease;
    scale: 1.07;
    color: #ffef5c;
}

.poke-text:hover {
    transition: color 0.2s ease;
    color: #e41919;
}

#search-container input:hover, #type-container select:hover {
    transition: border 0.2s ease;
    border: 3px solid #e41919;
}

/* gradient keyframes */
@keyframes gradient {
    0% {
        border-image: linear-gradient(0deg, #ffef5c, #e41919);
        border-image-slice: 1;
    }
    25% {
        border-image: linear-gradient(90deg, #ffef5c, #e41919);
        border-image-slice: 1;
    }
    50% {
        border-image: linear-gradient(180deg, #ffef5c, #e41919);
        border-image-slice: 1;
    }
    75% {
        border-image: linear-gradient(270deg, #ffef5c, #e41919);
        border-image-slice: 1;
    }
    100% {
        border-image: linear-gradient(360deg, #ffef5c, #e41919);
        border-image-slice: 1;
    }
}



